<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :images, "Upload Images" %> <br />
    <% if post.images.attached? %>
      <% post.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
        <%= image_tag(image, height: 100) %>
        <%= link_to "Remove", remove_image_post_path(image), data: { turbo_method: :delete } %>
        <br />
      <% end %>
    <% end %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
